<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <meta charset="UTF-8">
    <base href="https://demos.telerik.com/kendo-ui/grid/detailtemplate">
    <title>价格绑定</title>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header :: header-body"/>
<div class="content-wrapper">
    <section th:replace="fragments/sitemap"/>
    <div class="container-fluid">
        <div id="example">
            <div id="grid"></div>
            <script type="text/x-kendo-template" id="template1">
                <!--#if(data.isNew()) {#-->
                <!--#var createTemp = kendo.template($("\#createTemplate").html());#-->
                <!--#=createTemp(data)#-->
                <!--#} else {#-->
                <!--#var createTemp = kendo.template($("\#editTemplate").html());#-->
                <!--#=createTemp(data)#-->
                <!--#}#-->
                <div id ="edit-1"></div>
                <div id = "edit-2"></div>
            </script>

            <script type="text/x-kendo-template" id="template2">

                <div id ="edit-3"></div>
                <div id = "edit-4"></div>

            </script>
            <script type="text/x-kendo-template" id="editTemplate" >

            </script>



            <script type="text/x-kendo-template" id="template">
                <div class="tabstrip">
                    <ul>
                        <li class="k-state-active">
                            按摩椅
                        </li>

                    </ul>
                    <div>
                        <div class="orders"></div>
                    </div>
                    <div>
                        <div class='employee-details'>

                        </div>
                    </div>
                </div>

            </script>

            <script>
                $(document).ready(function() {


                    var element = $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read:  {
                                    url: "./placeMgr/allPlace",
                                    dataType: "json"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return  kendo.stringify(options.models);
                                    }
                                }
                            },
                            pageSize: 20,
                            serverPaging: true,
                            serverSorting: true,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        placeSn: { type: "string",editable: false},
                                        placeName: { type: "string",editable: false },
                                        placeAddress: { type: "string",editable: false },
                                        city: { type: "array",editable: false }
                                    }
                                }
                            }
                        },
                        height: 600,
                        sortable: true,
                        pageable: true,
                        filterable: true,
                        detailTemplate: kendo.template($("#template").html()),


                        detailInit: detailInit,
                        dataBound: function() {
                            this.expandRow(this.tbody.find("tr.k-master-row").first());
                        },
                        columns: [
                            {
                                field: "placeName",
                                title: "场地名",
                                width: "120px"
                            },
                            {
                                field: "placeAddress",
                                title: "场地地点",
                                width: "120px"
                            },

                            {
                                field: "placeSn",
                                title:"场地编码",
                                width: "120px"
                            },{
                                field: "city",
                                title:"城市",
                                width: "120px"
                            },
                            { command: ["edit"], title: "&nbsp;", width: "160px" },
                        ],

                        editable: {
                            mode: "popup",
                            template: $("#template1").html()
                        },

                        edit: function(e){
                            let placeId = e.model.id;

                          let  dataSource = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: "./price/status",
                                        dataType: "json"
                                    },
                                    update: {
                                        url: "./price/placeAddPrice",
                                        dataType: "json",
                                        type: "post",
                                        contentType : "application/json"
                                    },
                                    parameterMap: function (options, operation) {
                                        if (operation === "destroy" && options.models) {
                                            let array = [];
                                               for (let j =0 ;j<options.models.length;j++){
                                                   array[j] = options.models[j].id;
                                               }

                                           let list1 = {
                                               price :  array,
                                               placeId : placeId
                                           }
                                           return kendo.stringify(list1);
                                        }
                                        if (operation !== "read" && options.models) {
                                            return kendo.stringify(options.models) ;
                                        }
                                    }
                                },
                                batch: true,
                                pageSize: 5,
                                schema: {
                                    model: {
                                        id: "id",
                                        fields: {
                                            id: { editable: false, nullable: true },
                                            price: { type: "number", validation: { required: true, min: 1} ,editable: false},
                                            useTime: { type: "number" ,validation: { required: true, min: 1} ,editable: false},
                                            createDateTime: { type: "timestamp",editable: false },
                                            startDateTime: { type: "timestamp" ,editable: false},
                                            endDateTime: { type: "timestamp",editable: false},
                                            userId: { type: "string" ,editable: false},
                                            status: { type: "number",editable: false },
                                            priceName : {type : "string",editable: false},
                                            user :{type:"array",editable: false},
                                            deviceModelEntity:{type:"array",editable: false}
                                        }
                                    }
                                }
                            });
                            $("#edit-1").kendoGrid({
                                toolbar: [ "save", "cancel"],
                                dataSource: dataSource,
                                pageable: true,
                                checkboxes: true,
                                sortable:true,
                                height: 300,
                                columns: [
                                    { selectable: true, width: "50px" },
                                    { field: "priceName", title: "价格名称",  width: "50px" },
                                    { field: "price", title: "价格(元)", width: "50px" },
                                    { field: "useTime", title:"使用时长",width: "50px" },
                                    { field: "startDateTime", title:"开始时间",width: "50px" ,format: "{0: yyyy-MM-dd}"},
                                    { field: "endDateTime", title:"结束时间",width: "50px",format: "{0: yyyy-MM-dd}" },
                                    { command: ["destroy"], title: "绑定", width: "50px"}],
                                editable: true,
                            });
                        },

                    });


                    function detailInit(e) {
                        var detailRow = e.detailRow;
                        var placeId = e.data.id;
                        detailRow.find(".tabstrip").kendoTabStrip({
                            animation: {
                                open: { effects: "fadeIn" }
                            }
                        });

                        detailRow.find(".orders").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: "./place/device?placeId="+ placeId,
                                },
                                serverPaging: true,
                                serverSorting: true,
                                serverFiltering: true,
                                pageSize: 5,
                                schema: {
                                    model: {
                                        id: "id",
                                        fields: {
                                            id: { editable: false, nullable: true },
                                            maintainDateTime: { type: "timestamp"},
                                            latitude: { type: "number" ,validation: { required: true, min: 1} },
                                            longitude: { type: "number",editable: false },
                                            mcType: { type: "number" },
                                            mcStatus: { type: "boolean" },
                                            mcSn: { type: "string" },
                                            priceEntities :{type:"array"},
                                        }
                                    }
                                }

                            },
                            scrollable: false,
                            sortable: true,
                            pageable: true,
                            filterable: true,
                            // filterable: true,
                            columns: [
                                { field: "latitude", title:"按摩椅经度", width: "110px" },
                                { field: "mcStatus", title:"按摩椅状态", width: "110px" },
                                { field: "mcSn", title:"机器SN" ,width: "110px"},
                                { command: ["edit"], title: "&nbsp;", width: "160px" },
                            ],
                            editable: {
                                mode: "popup",
                                template: $("#template2").html()
                            },
                            edit: function(e){
                                let deviceId = e.model.id;
                               let dataSource = new kendo.data.DataSource({
                                    transport: {
                                        read: {
                                            url: "./price/devicePrice?deviceId="+deviceId,
                                            dataType: "json"
                                        },
                                        destroy: {
                                            url: "./price/deviceDeletePrice",
                                            dataType: "json",
                                            type: "post",
                                            contentType : "application/json"
                                        },
                                        parameterMap: function (options, operation) {
                                            if (operation === "destroy" && options.models) {
                                                let array = [];
                                                for (let j =0 ;j<options.models.length;j++){
                                                    array[j] = options.models[j].id;
                                                }

                                                let list1 = {
                                                    price :  array,
                                                    deviceId : deviceId
                                                }
                                                return kendo.stringify(list1);
                                            }
                                            if (operation !== "read" && options.models) {
                                                return kendo.stringify(options.models) ;
                                            }
                                        }
                                    },
                                    batch: true,
                                    pageSize: 5,
                                    schema: {
                                        model: {
                                            id: "id",
                                            fields: {
                                                id: { editable: false, nullable: true },
                                                price: { type: "number", validation: { required: true, min: 1},editable: false },
                                                useTime: { type: "number" ,validation: { required: true, min: 1} ,editable: false},
                                                createDateTime: { type: "timestamp",editable: false },
                                                startDateTime: { type: "timestamp" ,editable: false},
                                                endDateTime: { type: "timestamp" ,editable: false},
                                                userId: { type: "string" ,editable: false},
                                                status: { type: "number" ,editable: false},
                                                priceName : {type : "string",editable: false},
                                                user :{type:"array"}
                                            }
                                        }
                                    }
                                });
                              let  dataSource1 = new kendo.data.DataSource({
                                    transport: {
                                        read: {
                                            url: "./price/deviceUnPrice?deviceId=" + deviceId,
                                            dataType: "json"
                                        },
                                        destroy: {
                                            url: "./price/deviceSavePrice",
                                            dataType: "json",
                                            type: "post",
                                            contentType : "application/json"
                                        },
                                        parameterMap: function (options, operation) {
                                            if (operation === "destroy" && options.models) {
                                                let array = [];
                                                for (let j =0 ;j<options.models.length;j++){
                                                    array[j] = options.models[j].id;
                                                }

                                                let list1 = {
                                                    price :  array,
                                                    deviceId : deviceId
                                                }
                                                return kendo.stringify(list1);
                                            }
                                            if (operation !== "read" && options.models) {
                                                return kendo.stringify(options.models) ;
                                            }
                                        }
                                    },
                                    batch: true,
                                    pageSize: 5,
                                    schema: {
                                        model: {
                                            id: "id",
                                            fields: {
                                                id: { editable: false, nullable: true },
                                                price: { type: "number", validation: { required: true, min: 1},editable: false },
                                                useTime: { type: "number" ,validation: { required: true, min: 1},editable: false },
                                                createDateTime: { type: "timestamp",editable: false },
                                                startDateTime: { type: "timestamp",editable: false },
                                                endDateTime: { type: "timestamp",editable: false },
                                                userId: { type: "string" ,editable: false},
                                                status: { type: "number" ,editable: false},
                                                priceName : {type : "string",editable: false},
                                                user :{type:"array",editable: false}
                                            }
                                        }
                                    }
                                });
                                $("#edit-3").kendoGrid({
                                    toolbar:[ "save", "cancel"],
                                    dataSource: dataSource,
                                    pageable: true,
                                    sortable:true,
                                    height: 300,
                                    columns: [
                                        { field: "priceName", title: "价格名称",  width: "50px" },
                                        { field: "price", title: "价格(元)", width: "50px" },
                                        { field: "useTime", title:"使用时长",width: "50px" },
                                        { field: "startDateTime", title:"开始时间",width: "50px" ,format: "{0: yyyy-MM-dd}"},
                                        { field: "endDateTime", title:"结束时间",width: "50px",format: "{0: yyyy-MM-dd}" },
                                        { command: ["destroy"], title: "&nbsp;", width: "50px"}],
                                    editable: true
                                });
                                $("#edit-4").kendoGrid({
                                    toolbar: [ "save", "cancel"],
                                    dataSource: dataSource1,
                                    sortable:true,
                                    pageable: true,
                                    height: 300,
                                    columns: [
                                        { field: "priceName", title: "价格",  width: "50px" },
                                        { field: "price", title: "价格", width: "50px" },
                                        { field: "useTime", title:"使用时长",width: "50px" },
                                        { field: "startDateTime", title:"开始时间",width: "50px",format: "{0: yyyy-MM-dd}" },
                                        { field: "endDateTime", title:"结束时间",width: "50px" ,format: "{0: yyyy-MM-dd}"},
                                        // { title: "绑定", width: 80,template: "<button class='row-number'>绑定</button>"},
                                        { command: ["destroy"], title: "&nbsp;", width: "50px" },],
                                    editable: true
                                });
                            },
                        });
                    }

                    function customBoolEditor(container, options) {
                        var guid = kendo.guid();
                        $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="Discontinued" data-type="boolean" data-bind="checked:Discontinued">').appendTo(container);
                        $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
                    }
                });


            </script>
            <style>
                .k-detail-cell .k-tabstrip .k-content {
                    padding: 0.2em;
                }
                .employee-details ul
                {
                    list-style:none;
                    font-style:italic;
                    margin: 15px;
                    padding: 0;
                }
                .employee-details ul li
                {
                    margin: 0;
                    line-height: 1.7em;
                }

                .employee-details label
                {
                    display:inline-block;
                    width:90px;
                    padding-right: 10px;
                    text-align: right;
                    font-style:normal;
                    font-weight:bold;
                }
            </style>
        </div>

        </div>
        </div>

<footer th:replace="fragments/footer::footer"/>
<aside th:replace="fragments/menu"/>

</body>
</html>