<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <title>代理商管理</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header::header-body"/>

<div class="content-wrapper">
    <section th:replace="fragments/sitemap"/>
    <div class="container-fluid">

        <div class="container-fluid">
            <div id="grid"></div>
            <script>
                /*<![CDATA[*/
                $(function () {loadUserList();});

                //初始化表格数据
                function loadUserList() {
                    kendo.culture("zh-CN");

                    var dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: "getAllDevice"
                            },
                            create: {
                                url: "insertDevice",
                                dataType: "json",
                                type: "post"
                                // contentType:"application/json"
                            },
                            destroy: {
                                url: "deleteDevice",
                                dataType: "json",
                                type: "post"
                                // contentType:"application/json"
                            },
                            update: {
                                url:  "updateDevice",
                                dataType: "json",
                                type: "post"
                                // contentType:"application/json"
                            }
                            // ,
                            // parameterMap: function(options, operation) {
                            //     console.log(options);
                            //     if (operation !== "read" && options.models) {
                            //         return {models: kendo.stringify(options.models)};
                            //     }
                            // }
                        },
                        serverPaging: false,    //设定服务器来实现分页功能
                        serverFiltering: true,
                        serverSorting: true,
                        requestEnd: onRequestEnd,
                        pageSize: 5,
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    id: {type: "number", editable: false},
                                    mcSn: {type: "string"},
                                    maintainDateTime: {type: "timestamp"},
                                    latitude: {type: "number"},
                                    longitude: {type: "number"},
                                    mcStatus: {type: "int"},
                                    note: {type: "string"}
                                }
                            }
                            // ,
                            // data: function (response) {
                            //     // console.log(response);
                            //     // console.log(response.data);
                            //     var list = JSON.parse(response).data;
                            //     for(var i=0;i<list.length;i++){
                            //         var content2 = list[i];
                            //         var startime = content2.maintainDateTime;
                            //         var oldDate = new Date(Date.parse(startime));//.replace(/-/g, '/')
                            //         var time1 = oldDate.getTime();
                            //         content2.maintainDateTime = datetimeFormat_2(time1);
                            // }
                            //     return list;
                            //     // return response.data;
                            // },
                            // total: function (response) {
                            //     // console.log(response.total);
                            //     // return response.total;
                            //
                            //     return JSON.parse(response).total;
                            // }
                        }
                    });

                    //dataSource是必填属性
                    $("#grid").kendoGrid({
                        dataSource: dataSource,
                        height: 600,
                        sortable: true, //表示是否支持排序， boolean型
                        filterable: true,//filterable表示过滤，即能进行等于，不等于，包含，已开头等过滤操作，boolean型
                        // groupable: true,//表格标题
                        // scrollable: {//表示是否有下拉条，boolean型(虚拟分页)
                        //     virtual: true
                        // },
                        toolbar: [{name: "create", text: "新增"}],
                        columnMenu: true,
                        pageable: {
                            // empty:"没有要显示的数据",
                            // //代表是否支持刷新
                            // refresh: true,
                            // //表示每页显示的记录数，默认为5,10,20
                            pageSizes: true,
                            // //表示显示的页数，5表示1,2,3,4,5
                            buttonCount: 5,
                            totalPages: true,
                            // input: true,//表示是否可以输入数字
                            refresh: true,
                            pageSize: 5,
                            pageSizes: [5, 10, 15, 20],
                            numeric: true,
                            input: true,
                            messages: {
                                display: "显示 {0}-{1} 条，共 {2} 条",
                                empty: "没有数据",
                                itemsPerPage: "每页显示数量",
                                first: "第一页",
                                last: "最后一页",
                                next: "下一页",
                                previous: "上一页",
                                page: "页",
                                of: "共 {0}页"
                            }
                        },
                        columns: [
                            {
                                field: "mcSn",
                                title: "按摩椅编号"
                            },
                            {
                                field: "maintainDateTime",
                                title: "上次维修时间",
                                format: "{0:yyyy-MM-dd HH:mm}",
                                editor: changeDate
                            },
                            {field: "latitude",
                                title: "按摩椅所在纬度"
                            },
                            {field: "longitude",
                                title: "按摩椅所在经度"
                            },
                            {field: "mcStatus",
                                title: "按摩椅状态"
                            },
                            {field: "note",
                                title: "备注信息"
                            },
                            {
                                command: [
                                    {
                                        name: "edit", text: {edit: "编辑", cancel: "取消", update: "更新"}
                                    }, {
                                        name: "destroy", text: "删除"
                                    }],
                                title: "操作",
                                width: "250px"
                            }
                        ],
                        editable: {
                            mode: "popup",
                            window: {
                                title: "行业分类管理"
                            }
                        }
                    });
                }

                function changeDate(container, options) {
                    var input = $('<input name="' + options.field + '"/>');
                    input.appendTo(container);
                    input.kendoDateTimePicker({
                        format: "{0:yyyy-MM-dd HH:mm}"
                    });
                }

                //（请求后触发）点击按钮更新表格,只适用于单条修改，直接修改数据库，不适用于批量修改
                function onRequestEnd(e) {
                    if (e.type == "create") {
                        e.sender.read();       //调用read方法 重新读取表格
                    }
                    else if (e.type == "update") {
                        e.sender.read();
                    }
                    else if (e.type == "destroy") {
                        e.sender.read();
                    }

                    //更新成功后弹出提示信息
                    var response = e.response;
                    if (response) {
                        var type = e.type;
                        if (type != 'read') {
                            var status = response.status;
                            if (status == 200) {this.read();}
                            else {
                                // alert(response.msg);
                            }
                        }
                    }
                }

                //grid改变时触发的事件，暂时用于分页
                // function onChange(e) {
                //     page = $("#grid").data("kendoGrid").dataSource.page();
                //     pageSize = $("#grid").data("kendoGrid").dataSource.pageSize();
                //     //$("#grid").data("kendoGrid").dataSource.bind("parameterMap", parameterMap);
                // }

                //dataSource向后台发送数据时触发的事件
                // function parameterMap(e){
                //     console.log("parameterMap");
                //     return {page:page,pageSize:pageSize};
                // }

                // //编辑时boolean类型复选框样式修改
                // function customBoolEditor(container, options) {
                //     var guid = kendo.guid();
                //     $('<input class="k-checkbox" id="' + guid + '" type="checkbox" name="'+options.field+'" data-type="boolean" data-bind="checked:'+options.field+'">').appendTo(container);
                //     $('<label class="k-checkbox-label" for="' + guid + '">&#8203;</label>').appendTo(container);
                // }

                // //打开标记窗口时下拉列表展示
                // function roleListDropDownEditor(container, options) {
                //     var userId = options.model.id;
                //
                //     $.ajax({
                //         type: "post",
                //         async: true,
                //         url: "/userController/roleList",
                //         dataType: "json",
                //         data:{userId:userId},
                //         success: function (data) {
                //             $('<select required name="'+options.field+'" multiple="multiple"></select>')
                //                 .appendTo(container)
                //                 .kendoMultiSelect({
                //                     autoBind: false,
                //                     dataTextField: "roleName",
                //                     dataValueField: "roleId",
                //                     dataSource: {
                //                         serverFiltering: true,
                //                         transport: {
                //                             read: {
                //                                 type: "post",
                //                                 url: "/roleController/roleList",
                //                                 dataType: "json",
                //                                 contentType: "application/json",
                //                                 headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                //                             }
                //                         }
                //                     },
                //                     value: data
                //                 });
                //         }
                //     });
                // }
                /*]]>*/
            </script>

            <!--<script type="text/x-kendo-template" id="reviseDate_template">-->
            <!--#= kendo.toString(reviseDate, "yyyy-MM-dd") #-->
            <!--</script>-->
        </div>

    </div>
</div>
<!-- /.container -->

<footer th:replace="fragments/footer::footer"/>

<aside th:replace="fragments/menu"/>
</body>
</html>