<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <title>场地方树状图</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header::header-body"/>

<div class="content-wrapper">
    <section  class="content-header">
        <h1>
            场地方树状图
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            <li class="active">场地方树状图</li>
        </ol>
    </section>

    <div class="container-fluid">

        <div id="treelist"></div>

        <script>
            $(document).ready(function() {
                var dataSource = new kendo.data.TreeListDataSource({
                    transport: {
                        read: {
                            url: "./placeMgr/getAllPlaceForTreelist"
                        }
                    },
                    serverPaging: false,    //设定服务器来实现分页功能
                    serverFiltering: false,
                    serverSorting: false,
                    schema: {
                        model: {
                            id: "id",
                            parentId: "pId",
                            fields: {
                                id: {type: "number", nullable: false},
                                pId: {field: "pId", nullable: true}
                            }
                        }
                    }
                });


                $("#treelist").kendoTreeList({
                    dataSource: dataSource,
                    height: 600,
                    sortable: true, //表示是否支持排序， boolean型
                    filterable: true,//filterable表示过滤，即能进行等于，不等于，包含，已开头等过滤操作，boolean型
                    groupable: true,//表格标题
                    columnMenu: true,
                    resizable: true,
                    columns: [
                        {
                            field: "name",
                            title: "场地名称",
                            expandable: true
                        },
                        {
                            field: "placeSn",
                            title: "场地编码"
                        },
                        {
                            field: "placeAddress",
                            title: "地址"
                        },
                        {
                            field: "principal",
                            title: "场地负责人"
                        },
                        {
                            field: "latitude",
                            title: "纬度",
                            format: "{0:n4}"
                        },
                        {
                            field: "longitude",
                            title: "经度",
                            format: "{0:n4}"
                        },
                        {
                            field: "startDateTime",
                            title: "协议开始时间",
                            format: "{0:yyyy-MM-dd HH:mm}",
                            editor: changeDate
                        },
                        {
                            field: "endDateTime",
                            title: "协议结束时间",
                            format: "{0:yyyy-MM-dd HH:mm}",
                            editor: changeDate
                        }
                    ]
                });


                function changeDate(container, options) {
                    var input = $('<input name="' + options.field + '"/>');
                    input.appendTo(container);
                    input.kendoDateTimePicker({
                        format: "{0:yyyy-MM-dd HH:mm}"
                    });
                }
            })

        </script>




        <style>
            .k-detail-cell .k-tabstrip .k-content {
                padding: 0.2em;
            }
            .employee-details ul
            {
                list-style:none;
                font-style:italic;
                margin: 15px;
                padding: 0;
            }
            .employee-details ul li
            {
                margin: 0;
                line-height: 1.7em;
            }

            .employee-details label
            {
                display:inline-block;
                width:90px;
                padding-right: 10px;
                text-align: right;
                font-style:normal;
                font-weight:bold;
            }
        </style>

    </div>
</div>
<!-- /.container -->

<footer th:replace="fragments/footer::footer"/>

<aside th:replace="fragments/menu"/>
</body>
</html>