<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <title>代理商管理</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header::header-body"/>

<div class="content-wrapper">
    <section th:replace="fragments/sitemap"/>
    <div class="container-fluid">

        <div id="grid"></div>

        <script type="text/x-kendo-template" id="template">
            <div class="tabstrip">
                <ul>
                    <li class="k-state-active">

                    </li>

                </ul>
                <div>
                    <div class="orders1"></div>
                    <div class="orders2"></div>
                    <div class="orders3"></div>
                    <div class="orders4"></div>
                    <div class="orders5"></div>
                </div>

            </div>

        </script>

        <script>
            $(document).ready(function() {
                var element = $("#grid").kendoGrid({
                    dataSource: {
                        transport: {
                            read: {
                                url: "getAllPlace"
                            }
                            // parameterMap:function(options, operation){
                            //
                            //     // if(operation=="read"){
                            //     //     var page = $("#grid").data("kendoGrid").dataSource.page();
                            //     //     var pageSize = $("#grid").data("kendoGrid").dataSource.pageSize();
                            //     //     return {page:page,pageSize:pageSize};
                            //     // }
                            //     if(operation !== "read"){
                            //         // console.log(options);
                            //         return kendo.stringify(options);
                            //     }
                            // }
                        },
                        pageSize: 20,
                        serverPaging: true,
                        serverSorting: true,
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    id: {type: "number", editable: false},
                                    pId: {type: "number", nullable: true},
                                    placeSn: {type: "string"},
                                    principal: {type: "string"},
                                    placeAddress: {type: "string"},
                                    name: {type: "string"},
                                    latitude: {type: "number"},
                                    longitude: {type: "number"},
                                    startDateTime: {type: "timestamp"},
                                    endDateTime: {type: "timestamp"},
                                    levelFlag: {type: "number"},
                                    levelFlagName: {type: "string"},
                                    superiorId: {type: "number"},
                                    superiorName: {type: "string"}
                                }
                            }
                        }
                    },
                    height: 550,
                    sortable: true,
                    pageable: true,
                    detailTemplate: kendo.template($("#template").html()),
                    detailInit: detailInit,
                    dataBound: function() {
                        this.expandRow(this.tbody.find("tr.k-master-row").first());
                    },
                    toolbar: ["create"],
                    columnMenu: true,
                    resizable: true,
                    columns: [
                        {
                            field: "placeSn",
                            title: "场地编码"
                        }, {
                            field: "principal",
                            title: "场地负责人"
                        },
                        {
                            field: "placeAddress",
                            title: "地址"
                        },
                        {
                            field: "name",
                            title: "场地名称"
                        },
                        {
                            field: "latitude",
                            title: "纬度"
                        },
                        {
                            field: "longitude",
                            title: "经度"
                        },
                        {
                            field: "startDateTime",
                            title: "协议开始时间",
                            format: "{0:yyyy-MM-dd HH:mm}",
                            editor: changeDate
                        },
                        {
                            field: "endDateTime",
                            title: "协议结束时间",
                            format: "{0:yyyy-MM-dd HH:mm}",
                            editor: changeDate
                        },{
                            field: "levelFlag",
                            title: "隶属单位",
                            template:"#=levelFlagName#",
                            editor:chooseBranchOrHead
                        },
                        {
                            field: "superiorId",
                            title: "隶属单位名称",
                            template:"#=superiorName#",
                            editor:roleListDropDownEditor
                        },
                        {
                            command: ["edit","destroy"],
                            title: "操作",
                            width: "250px"
                        }
                    ],
                    editable: {
                        mode: "popup",
                        window: {
                            title: "场地管理"
                        }
                    }
                });
            });

            function detailInit(e) {
                var detailRow = e.detailRow;
                var placeId = e.data.id;
                // console.log(placeId);

                detailRow.find(".tabstrip").kendoTabStrip({
                    animation: {
                        open: { effects: "fadeIn" }
                    }
                });
                detailRow.find(".orders1").kendoGrid({
                    dataSource: {
                        transport: {
                            read:{
                                url: "../placeMgr/findPlaceByParentId?placeId="+placeId
                            }
                        },
                        serverPaging: true,
                        serverSorting: true,
                        serverFiltering: true,
                        pageSize: 7,
                        schema: {
                            model: {
                                id: "id",
                                fields: {
                                    id: {type: "number", editable: false},
                                    pId: {type: "number", nullable: true},
                                    placeSn: {type: "string"},
                                    principal: {type: "string"},
                                    placeAddress: {type: "string"},
                                    name: {type: "string"},
                                    latitude: {type: "number"},
                                    longitude: {type: "number"},
                                    startDateTime: {type: "timestamp"},
                                    endDateTime: {type: "timestamp"},
                                    levelFlag: {type: "number"},
                                    levelFlagName: {type: "string"},
                                    superiorId: {type: "number"},
                                    superiorName: {type: "string"}
                                }
                            }
                        }
                    },
                    toolbar: ["create"],
                    columnMenu: true,
                    resizable: true,
                    scrollable: false,
                    sortable: true,
                    pageable: true,
                    columns: [
                        {
                            field: "placeSn",
                            title: "场地编码"
                        }, {
                            field: "principal",
                            title: "场地负责人"
                        },
                        {
                            field: "placeAddress",
                            title: "地址"
                        },
                        {
                            field: "name",
                            title: "场地名称"
                        },
                        {
                            field: "latitude",
                            title: "纬度"
                        },
                        {
                            field: "longitude",
                            title: "经度"
                        },
                        {
                            field: "startDateTime",
                            title: "协议开始时间",
                            format: "{0:yyyy-MM-dd HH:mm}",
                            editor: changeDate
                        },
                        {
                            field: "endDateTime",
                            title: "协议结束时间",
                            format: "{0:yyyy-MM-dd HH:mm}",
                            editor: changeDate
                        },{
                            field: "levelFlag",
                            title: "隶属单位",
                            template:"#=levelFlagName#",
                            editor:chooseBranchOrHead
                        },
                        {
                            field: "superiorId",
                            title: "隶属单位名称",
                            template:"#=superiorName#",
                            editor:roleListDropDownEditor
                        },
                        {
                            command: ["edit","destroy"],
                            title: "操作",
                            width: "250px"
                        }
                    ],
                    editable: {
                        mode: "popup",
                        window: {
                            title: "场地管理"
                        }
                    }
                });
            }



            function changeDate(container, options) {
                var input = $('<input name="' + options.field + '"/>');
                input.appendTo(container);
                input.kendoDateTimePicker({
                    format: "{0:yyyy-MM-dd HH:mm}"
                });
            }

            var useFlag=false;
            var testDataSource;
            function chooseBranchOrHead(container, options){
                var levelFlag = options.model.levelFlag;

                var input = $('<input required name="' + options.field + '"/>');
                input.appendTo(container);

                input.kendoComboBox({
                    autoBind: true,
                    // enable: false,
                    placeholder: "请选择...",
                    dataTextField: "name",
                    dataValueField: "id",
                    value: levelFlag,
                    dataSource: [
                        {
                            "id":1,
                            "name":"总部"
                        },{
                            "id":2,
                            "name":"分公司"
                        },{
                            "id":3,
                            "name":"代理商"
                        }
                    ],
                    select:function(e){
                        var item = e.dataItem.id;

                        var flag=item;
                        useFlag=true;


                        if(flag==1){
                            testDataSource = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: "../headMgr/allHead"
                                    }
                                }
                            });
                        }else if(flag==2){
                            testDataSource = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: "../branchMgr/allBranch"
                                    }
                                }
                            });
                        } else if(flag==3){
                            testDataSource = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: "../vendorMgr/getAllVendor"
                                    }
                                }
                            });
                        }
                    }
                });
            }


            //打开标记窗口时下拉列表展示
            function roleListDropDownEditor(container, options) {
                // var flag =options.model.levelFlag;

                var branchId = options.model.superiorId;
                var branchName = options.model.superiorName;
                // console.log(options.model);
                // console.log(branchName);

                var input = $('<input required name="' + options.field + '"/>');
                input.appendTo(container);

                // input.kendoComboBox.

                input.kendoComboBox({
                    autoBind: false,
                    placeholder: "请选择...",
                    dataTextField: "name",
                    dataValueField: "id",
                    // value: branchId,
                    text:branchName,
                    open: function(e) {
                        if(useFlag==true){
                            this.setDataSource(testDataSource);
                        }else{
                            return;
                        }

                    }
                });

            }

        </script>




        <style>
            .k-detail-cell .k-tabstrip .k-content {
                padding: 0.2em;
            }
            .employee-details ul
            {
                list-style:none;
                font-style:italic;
                margin: 15px;
                padding: 0;
            }
            .employee-details ul li
            {
                margin: 0;
                line-height: 1.7em;
            }

            .employee-details label
            {
                display:inline-block;
                width:90px;
                padding-right: 10px;
                text-align: right;
                font-style:normal;
                font-weight:bold;
            }
        </style>

    </div>
</div>
<!-- /.container -->

<footer th:replace="fragments/footer::footer"/>

<aside th:replace="fragments/menu"/>
</body>
</html>