<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <meta charset="utf-8">
    <title>按摩时间选择</title>
    <link rel="stylesheet" th:href="@{/css/kendo/kendo.common.min.css}"
          href="../../static/css/kendo/kendo.common.min.css" />
    <link rel="stylesheet" th:href="@{/css/kendo/kendo.silver.min.css}"
          href="../../static/css/kendo/kendo.silver.min.css" />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"
            src="../../static/js/jquery-3.2.1.min.js"></script>


    <!--Kendo libraries-->
    <!--<script type="text/javascript" th:src="@{/js/kendo/kendo.all.min.js}"-->
            <!--src="../../static/js/kendo/kendo.all.min.js"></script>-->




    <style>
        body {
            margin: 0px;
            height:100%;
            width: 100%;
        }

        /*背景层*/
        #popLayer {
            display: none;
            background-color: #B3B3B3;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
        }

        /*弹出层*/
        #popBox {
            display: none;
            background-color: #FFFFFF;
            z-index: 11;
            width: auto;
            height: auto;
            position:fixed;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
        }

        #popBox .close{
            text-align: right;
            margin-right: 5px;
            background-color: #F8F8F8;
        }

        /*关闭按钮*/
        #popBox .close a {
            text-decoration: none;
            color: #2D2C3B;
        }

        /*p{padding:10px 0}*/
    </style>
</head>
<body>

<div style="width:100%;height:23%;" onclick="toIndex()">

    <img src="../../static/wx/dise-2.png" th:src="@{/wx/dise-2.png}" width="100%" height="100%"/>
    <!--<img src="http://www.infhp.cn/mc/wx/dise.png" th:src="@{/wx/dise.png}" width="100%" height="auto"/>-->
    <img src="../../static/wx/logo-white.png" th:src="@{/wx/logo-white.png}"
         style="width:50%;height:70%;position:relative;top: -85%;left: 25%;"/>
    <!--<a style="font-size:45rpx;width:500rpx;color:grey;position:relative;left:205rpx;top:-200rpx">共享按摩 轻松出行</a>-->
</div>

<div style="width:100%;height:75%;position:relative;">
    <p style="font-size:17px;color:grey;display:inline;margin-left: 60%;margin-top: 2%;">设备号：</p>
    <a id="a1" style="font-size:17px;color:grey;position:absolute;"></a>
    <table id="tab" style="width:100%;height: 10%">

    </table>
    <div id="returnAli"></div>
    <!--<input type="button" class="alisubmit" id="sbumitBtn" value="确认支付">-->

    <!--<input type="button" name="popBox" value="弹出框" onclick="popBox()">-->
    <!--<text bindtap="onClickContract" style="font-size:30rpx;width:290rpx;color:grey;position:absolute;left:250rpx;top:900rpx">《用户使用协议》</text>-->
    <div style="margin-top: 50px;">
        <a style="margin-left: 34%;color:grey;" onclick="popBox()">《用户使用协议》</a>
    </div>
    <div id="popLayer"></div>
    <div id="popBox">
        <div class="close">
            <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
        </div>
        <div class="content">

            <div style="font-size: 12px">

                <div style="text-align:center"><text>用户协议</text></div>
                <br>

                <text>特别提示:</text>
                <div style="text-align:left">
                    <text>&nbsp;&nbsp;&nbsp;&nbsp;北京无限热点科技有限公司（以下简称“无限热点”）在此特别提醒您（用户）在扫码支付使用共享按摩椅的按摩服务之前，请认真阅读本《用户协议》（以下简称“协议”），确保您充分理解本协议中各条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权使用按摩服务。您的扫码支付使用按摩服务等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
                        <br>
                         &nbsp;&nbsp;&nbsp;&nbsp;本协议约定无限热点与用户之间关于共享按摩椅服务（以下简称“服务”）的权利义务。“用户”是指使用共享按摩椅的个人。本协议可由无限热点随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在扫码支付页面查阅最新版协议条款。在无限热点修改协议条款后，如果用户不接受修改后的条款，请立即停止使用无限热点提供的服务，用户继续使用无限热点提供的服务将被视为接受修改后的协议。
                        <br>
                    </text>

                    <text>一、不宜使用人群</text>
                    <br>
                    <text>1．残障人士、感观或神经有缺陷人士、未成年人士使用时必须在监护人或专业人士的监督
                        与指导下使用；
                        <br>
                        2．具有心脏问题以及佩戴心脏起搏器等医用电子仪器者；
                        <br>
                        3正在接受医生治疗者，经医生瞩咐需要休养或感觉身体不适者，在使用期间感到身体异常请立即停止使用；
                        <br>
                        4．患有恶性月中瘤、急性疾病、心脏病、严重高血压等患者；
                        <br>
                        5．孕妇或正处于经期者；处于发热期并且体温38度以上的人士；
                        <br>
                        6．骨质疏松、颈椎骨折等患者，身体有创伤或体表患病者；
                        <br>
                        7．年满60岁以上人士，请慎重使用。
                        <br>
                    </text>

                    <text>二、服务内容</text>
                    <br>
                    <text>1．如果发现按摩椅异常时禁止使用，如果在使用中感到按摩椅异常时请立即停止使用；
                        <br>
                        2．如果发现按摩椅损坏、破裂、漏电以及相关部件暴露出来时止使用；
                        <br>
                        3．禁止将其他重物放置或挤压按摩椅、禁止在按摩椅上玩耍、站力、倒立；
                        <br>
                        4．不满12周岁的几童以及年满70岁以上人士，禁止使用；
                        <br>
                        5．身体潮湿时禁止使用按摩椅；
                        <br>
                        6．酒醉及神志不清时禁止使用，请勿在工作中的按摩椅上入睡；
                        <br>
                        7．请勿将手指或者其他物件插入按摩椅缝隙，以免受伤或发生故障；
                        <br>
                        8．使用按摩椅时与按摩椅有接触的部位禁止佩戴饰品，避免损坏；
                        <br>
                        9．为方便有需要的人使用按摩椅，禁止非使用状态下占用按摩椅。
                        <br>
                    </text>

                </div>

            </div>

        </div>
    </div>

</div>


<script>
    var userId;
    var auth_code;
    $(function () {
        auth_code = getQueryString("auth_code");
        var sn = getQueryString("state");

        $("#a1").text(sn);

        $.ajaxSettings.async = false;

        //获取用户id
        $.get("https://www.infhp.cn/mc/alipay/getUserId", {auth_code: auth_code}, function (data) {
            console.log("获取用户id成功");
            console.log("userId:________________" + data);
            userId = data;
        });

        //清空设备状态
        $.get("https://www.infhp.cn/mc/weixin/cleanDeviceStatus", {chairId: sn}, function (data) {
            console.log("清空设备状态成功");
        });

        //发送查询设备状态指令
        $.get("https://www.infhp.cn/mc/weixin/sendFindChairStatus", {chairId: sn}, function (data) {
            console.log("发送查询设备状态指令成功");
        });

        $.ajaxSettings.async = true;
        // console.log(45454);

        //查询价格列表
        $.get("https://www.infhp.cn/mc/alipay/devicePriceByAlipay", {deviceCode: sn}, function (data) {
            console.log(data);
            data = data.reverse();
            var str = "";//定义用于拼接的字符串
            for (var i = 0; i < data.length; i++) {
                str = "<div id='priceDiv' class='priceDiv' onclick='showIndex(this," + data[i].price + "," + data[i].useTime + ")' style=\"width:72%; height:15%;border-radius:15px;border:2px solid #FF74FF;margin-top:35px;text-align:center;margin-left:auto;margin-right:auto\">" +
                    "<div style='margin-top: -15px;'>"+
                    "<p style=\"font-size:28px;color:#642B8D;\">" + data[i].priceName + "</p>  " +
                    "</div>"+
                    "<div style='margin-top: -24px;'>"+
                    "<p style=\"font-size:15px;color:grey\">价格" + data[i].price + "元-消费" + data[i].useTime / 60 + "分钟</p>" +
                    "</div>"+
                    "</div>";
                $("#tab").after(str);
            }
        });


    });


    function showIndex(obj, price, time) {
        //锁定，并显示加载动画
        kendo.ui.progress($(document.body), true);
        var orderId3;
        var oDiv = document.getElementsByTagName("div"),
            count = oDiv.length;
        for (var i = 0; i < count; i++) {
            if (oDiv[i] == obj) {

                $.ajaxSettings.async = false;
                //查询服务中的订单
                $.get("https://www.infhp.cn/mc/weixin/findPaidOrderList", {
                    openCode: userId,
                    state: 1
                }, function (res) {
                    console.log("查询服务中订单ajax");
                    var resObj = JSON.parse(res);
                    if (!$.isEmptyObject(resObj)) {
                        // alert(889);
                        // alert(resObj[0].id);
                        orderId3 = resObj[0].id;
                        //查询剩余时间
                        $.get("https://www.infhp.cn/mc/alipay/getMcTime", {orderId: orderId3}, function (res) {
                            window.location.href = "https://www.infhp.cn/mc/alipay/turnToAlipayMgr?orderId=" + orderId3 + "&mcTime=" + res.mcTime + "&states=" + 1;
                        });
                    } else {
                        //发送查询设备状态指令
                        $.get("https://www.infhp.cn/mc/weixin/sendFindChairStatus", {chairId: getQueryString("state")}, function (data) {
                            console.log("发送查询设备状态指令成功");
                        });


                        //获取设备状态
                        $.get("https://www.infhp.cn/mc/weixin/findChairStatus", {chairId: getQueryString("state")}, function (data) {
                            console.log("设备状态：");
                            console.log(data);

                            if (data == 4 || data == 5) {//未响应
                                kendo.ui.progress($(document.body), true);
                                alert("座椅故障请更换座椅扫码按摩");
                                kendo.ui.progress($(document.body), false);
                            }
                            if (data == 3) {//复位中
                                kendo.ui.progress($(document.body), true);
                                alert("按摩椅复位中请稍等片刻");
                                kendo.ui.progress($(document.body), false);
                            }
                            if (data == 2) {//运行中
                                kendo.ui.progress($(document.body), true);
                                alert("按摩椅正在运行中请您更换座椅扫码按摩");
                                kendo.ui.progress($(document.body), false);
                            }
                            if (data == 1) {//空闲中

                                //创建未支付订单
                                $.get("https://www.infhp.cn/mc/alipay/createPaidOrder",
                                    {
                                        openid: userId,
                                        state: 0,
                                        deviceCode: getQueryString("state"),
                                        promoCode: "",
                                        money: price,
                                        mcTime: time / 60,
                                        strength: 1
                                    },
                                    function (data) {
                                        //调用支付接口
                                        $.get("https://www.infhp.cn/mc/alipay/pay",
                                            {
                                                WIDout_trade_no: data,
                                                WIDsubject: "付费按摩椅" + getQueryString("state"),
                                                WIDtotal_fee: price,
                                                WIDbody: "按摩椅享受",
                                                sn: getQueryString("state")
                                            }, function (res) {
                                                kendo.ui.progress($(document.body), true);
                                                $('#returnAli').append(res);
                                                kendo.ui.progress($(document.body), false);
                                            })
                                    });
                            }
                        });

                    }
                });
                $.ajaxSettings.async = true;
            }
        }
        kendo.ui.progress($(document.body), false);
    }


    //获取url中的参数值
    function getQueryString(name) {
        var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }


    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
    };

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }

    //跳转到首页
    function toIndex(){
        window.location.href="https://www.infhp.cn/mc/alipay/turnToAlipayScan?auth_app_id="+userId;
    }
</script>
</body>
</html>