<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <meta charset="UTF-8">
    <title>Triangle Platform</title>
    <link rel="stylesheet" href="../static/css/kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="../static/css/kendo/kendo.default.min.css" />
    <link rel="stylesheet" href="../static/css/kendo/kendo.default.mobile.min.css" />
    <!--<script src="http://cdn.kendostatic.com/2013.2.716/js/cultures/kendo.culture.zh-CN.min.js"></script>-->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/kendo/kendo.all.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header :: header-body"/>
<div class="content-wrapper">
    <section th:replace="fragments/sitemap"/>
    <div class="container-fluid">
        <div id="example">
            <style>
                .k-multicheck-wrap {
                    overflow-x: hidden;
                }
            </style>
            <div class="demo-section k-content wide">
                <div id="client"></div>
            </div>

            <script>
                $(document).ready(function() {

                    $("#client").kendoGrid({
                        dataSource: {
                            transport: {
                                read:  {
                                    url: "./price/all",
                                    dataType: "json"
                                },
                                update: {
                                    type: "post",
                                    url: "./price/update",
                                    dataType: "json",
                                    contentType : "application/json"

                                },
                                destroy: {
                                    url: "./price/delete",
                                    dataType: "json",
                                    type: "post",
                                    contentType : "application/json"
                                },
                                create: {
                                    url: "./price/save",
                                    dataType: "json",
                                    type: "post",
                                    contentType : "application/json"
                                },
                                parameterMap: function(options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return  kendo.stringify(options.models);
                                    }
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            schema: {
                                model: {
                                    id: "id",
                                    fields: {
                                        id: { editable: false, nullable: true },
                                        price: { type: "number", validation: { required: true, min: 1} },
                                        useTime: { type: "number" ,validation: { required: true, min: 1} },
                                        createDateTime: { type: "timestamp",editable: false },
                                        startDateTime: { type: "timestamp" },
                                        endDateTime: { type: "timestamp" },
                                        userId: { type: "string" },
                                        status: { type: "number" },
                                        priceName : {type : "string"},
                                        user :{type:"array"}
                                    }
                                }
                            }
                        },
                        filterable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        height: 880,
                        toolbar: ["create", "save", "cancel"],
                        columns: [
                            {field: "rowNumber", title: "序号", width: 80,template: "<span class='row-number'></span>"},
                            { field: "priceName",title: "价格名称", width: 120,filterable: { multi: true, search: true} },
                            { field: "price", title: "价格(元)", width: 100, filterable: { multi: true,search: true } },
                            { field: "useTime", title: "时长(分钟)", width: 100, filterable: { multi: true } },
                            { field: "user.name", title: "创建人", width: 100, filterable: { multi: true } },
                            { field: "createDateTime",title: "创建时间",width: 120, filterable: { multi: true, search: true} },
                            { field: "startDateTime",title: "开始时间",width: 120, filterable: { multi: true, search: true},format: "{0:yyyy-MM-dd HH:mm}",
                                editor: changeDate },
                            { field: "endDateTime",title: "结束时间",width: 120, filterable: { multi: true, search: true},format: "{0:yyyy-MM-dd HH:mm}",
                                editor: changeDate },
                            { field: "status",title: "状态",width: 120, filterable: { multi: true, search: true} },
                            // { field: "status", title: "状态",width: 120, filterable: { multi: true, dataSource: [{ Discontinued: 1 }, { Discontinued: 0 }]} },
                            { command: "destroy", title: "&nbsp;", width: 100}],
                        editable: true,
                        dataBound: function () {
                            var rows = this.items();
                            var page = this.pager.page() - 1;
                            var pagesize = this.pager.pageSize();
                            $(rows).each(function () {
                                var index = $(this).index() + 1 + page * pagesize;
                                var rowLabel = $(this).find(".row-number");
                                $(rowLabel).html(index);
                            });
                        }
                    });
                    function changeDate(container, options) {
                        var input = $('<input name="' + options.field + '"/>');
                        input.appendTo(container);
                        input.kendoDateTimePicker({
                            format: "{0:yyyy-MM-dd HH:mm}"
                        });
                    }
                });
            </script>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer::footer"/>
<aside th:replace="fragments/menu"/>

</body>
</html>