<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <title>Triangle Platform</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div th:replace="fragments/header :: header-body"/>

<div class="container">

    <div class="starter-template">
        <h1>User page (Spring Security protected)</h1>

        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>

schema: {
model: {
id: "id",
fields: {
id: { editable: false, nullable: true },
price: { type: "number", validation: { required: true, min: 1} },
useTime: { type: "number" ,validation: { required: true, min: 1} },
createDateTime: { type: "timestamp",editable: false , format: "{0:yyyy-MM-dd HH:mm:ss}"},
startDateTime: { type: "timestamp", format: "{0:yyyy-MM-dd HH:mm:ss}" },
endDateTime: { type: "timestamp", format: "{0:yyyy-MM-dd HH:mm:ss}" },
userId: { type: "int" ,editable: false},
status: { type: "number",editable: false },
priceName : {type : "string"},
user :{type:"array",editable: false},
deviceModelEntity : {type:"array",editable: false},
}
}
}


columns: [
{field: "rowNumber", title: "序号", width: 80,template: "<span class='row-number'></span>"},
{ field: "priceName",title: "价格名称", width: 100,filterable: { multi: true, search: true} },
{ field: "price", title: "价格(元)", width: 80, filterable: { multi: true,search: true } },
{ field: "useTime", title: "时长(分钟)", width: 80, filterable: { multi: true } },
{ field: "user.name", title: "创建人", width: 100, filterable: { multi: true },template:"<span class='product-preview'></span>" },
{ field: "createDateTime",title: "创建时间",width: 120, filterable: { multi: true, search: true}, format: "{0:yyyy-MM-dd HH:mm:ss}" },
{ field: "startDateTime",title: "开始时间",width: 120, filterable: { multi: true, search: true}, format: "{0:yyyy-MM-dd HH:mm:ss}",
editor: changeDate },
{ field: "endDateTime",title: "结束时间",width: 120, filterable: { multi: true, search: true}, format: "{0:yyyy-MM-dd HH:mm:ss}",
editor: changeDate },
{ field: "status",title: "状态",width: 80, filterable: { multi: true, search: true}, values: [
{ text: "false", value: 0 },
{ text: "true", value: 1 }] },
{ field: "deviceModelEntity.name", title: "按摩椅类型", width: 100, filterable: { multi: true } },
// { field: "status", title: "状态",width: 120, filterable: { multi: true, dataSource: [{ Discontinued: 1 }, { Discontinued: 0 }]} },
{ command: "destroy", title: "&nbsp;", width: 100}],


dataBound: function () {
var rows = this.items();
var page = this.pager.page() - 1;
var pagesize = this.pager.pageSize();
$(rows).each(function () {
var index = $(this).index() + 1 + page * pagesize;
var rowLabel = $(this).find(".row-number");
$(rowLabel).html(index);
});
}


function changeDate(container, options) {
var input = $('<input name="' + options.field + '"/>');
input.appendTo(container);
input.kendoDateTimePicker({
format: "{0:yyyy-MM-dd HH:mm}"
});
}